rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow delete: if false;
      allow create: if request.auth != null;
      
      allow update: 
      	if request.auth != null && 
        request.auth.uid == userId || 
        request.auth.uid in resource.data.friends &&
        (request.resource.data.diff(resource.data).affectedKeys()
        .hasOnly(['rooms', 'friends']));
      
      allow get: if request.auth != null;
      allow list: if request.auth != null;
    }
    
    match /rooms/{roomId} {
    	allow delete: if false;
      allow create: if request.auth != null;
      
      allow update: 
      	if request.auth != null &&
        request.auth.uid in resource.data.users;
      
      allow get: 
      	if request.auth != null &&
        request.auth.uid in resource.data.users;
    }
    
  }
}